* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

header {
  background:#A9A9A9;
  padding: 30px;
  text-align: center;
  color: #343A40;
  font-size: medium;
  font-family: "Comic Sans MS", "Times New Roman", Times, serif;
  width: 100%;
  border-bottom: 5px solid #007BFF;
}

.search-area {
  width: 25%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}


