* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

header {
  background:lightskyblue;
  padding: 30px;
  text-align: center;
  color: #ffffff;
  font-size: x-large;
  font-family: "Comic Sans MS", "Times New Roman", Times, serif;
  width: 100%;
}

.search-area {
  width: 25%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

/* .form-control {
  size: 25;
} */

