* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

header {
  background:lightskyblue;
  padding: 30px;
  text-align: center;
  color: #ffffff;
  font-size: x-large;
  font-family: "Comic Sans MS", "Times New Roman", Times, serif;
  width: 100%;
}

